body {
	font-family:'Open Sans',Ubuntu,Arial,sans-serif;
	color:#595959;
	}
h1,h2,h3 {
	font-weight:normal;
	margin:0px;
	}
a:not(.noshow),.doshow {
	text-decoration:none;
	color:#303030;
	border-bottom:1px dotted #303030;
	transition:border-bottom;
	transition-duration:0.3s;
	}
a:hover:not(.noshow),.doshow:hover {
	color:black;
	border-bottom:1px solid #303030;
	}
a.noshow {
	color:#595959;
	color:#303030;
	text-decoration:none;
	}
hr {
	width:75px;
	background-color:#c0c0c0;
	height:2px;
	margin:30px;
	margin-left:auto;
	margin-right:auto;
	border:none;
	}

.blockarea {
	background-color:#FAFAFA;
	background-color:#efefef;

	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;

	margin-bottom:15px;
	text-align:center;
	}
.block, .post {
	background-color:white;
	/*box-shadow: 0 2px 6px 2px rgba(0,0,0,.05);*/
	padding:15px;
	margin:15px;
	border-radius:3px;
	text-align:justify;
	overflow:hidden;

	border:1px solid #c0c0c0;
	}
.fullblock {
	background-color:white;
	box-shadow: 0 2px 6px 2px rgba(0,0,0,.05);
	padding:15px;

	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	}
.shadow {
	box-shadow: 0 2px 6px 2px rgba(0,0,0,.05);
	}

.hoverable {
	transition:box-shadow;
	transition-duration:0.3s;
	}
.hoverable:hover, input.hoverable:focus {
	/*box-shadow:0px 0px 13px -6px black;*/	
	/*box-shadow:0 1px 10px rgba(0, 0, 0, 0.2);*/
	box-shadow:0 1.5px 5px rgba(0, 0, 0, 0.29);
	}

img.size-full {
	max-width:90%;
	height:auto;
	}

.wp-caption {
	max-width:100%;
	text-align:center;
	height:auto;
	}
.wp-caption-text {
	display:block;
	max-width:90%;
	margin:10px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	color:#808080;
	text-align:center;
	}

.tile {
	display:inline-block;
	vertical-align:top;
	}
.tile_half {
	display:inline-block;
	width:50%;
	}
.tile_third {
	display:inline-block;
	width:33.3333333333333%;
	}
.tile_fourth {
	display:inline-block;
	width:25%;
	}
@media (max-width:600px) { .tile_half { width:100%; } }
@media (max-width:900px) { .tile_third { width:100%; } }
@media (max-width:1200px) { .tile_fourth { width:50%; } }
@media (max-width:600px) { .tile_fourth { width:100%; } }

.tile .wp-post-image {
	width:100%;
	height:auto;
	}

.smalltile {
	width:300px;
	}
@media (max-width:610px) { .smalltile { width:100%; } }

.tile_c_full {
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
	}
.tile_c_half {
	max-width:300px;
	}
@media (max-width:520px) { .tile_c_half { max-width:100%; } }

.pad0 { padding:0px; }
.pad1 { padding:1px; }
.pad5 { padding:5px; }
.pad10 { padding:10px; }
.pad15 { padding:15px; }
.pad20 { padding:20px; }
.nmx { margin-left:0px; margin-right:0px; }
.mar0 { margin:0px; }
.mar5 { margin:5px; }
.mar10 { margin:10px; }
.mar15 { margin:15px; }
.mar20 { margin:20px; }

.bg-orange {
	color:white;
	background-color:#fea74c;
	}
.bg-green {
	color:white;
	background-color:#55BD7A;
	}
.bg-darkblue {
	color:white;
	background-color:#001454;
	}
.bg-darkgreen {
	color:white;
	background-color:#3F615F;
	}
