/*
Theme Name: Inquiry Hub
Theme URI: http://inquiryhub.org
Author: Laef
Author URI: https://twitter.com/betterlaef
Description: Inquiry Hub Secondary School's bespoke WordPress theme.
Version: 1.0
License: All Rights Reserved, Laef Kucheran
Text Domain: inquiryhub
*/


@font-face { font-family: 'Open Sans';
	src: url('fonts/OpenSans-Regular.ttf') format('truetype'); }

html { height:100%; }
body {
	margin:0px;
	background-color:#efefef;
	background-color:#FAFAFA;
	background-color:white;
	font-family:'Open Sans',Ubuntu,Arial,sans-serif;
	color:#595959;
	height:100%;
	}
h1,h2,h3 {
	font-weight:normal;
	margin:0px;
	}
a:not(.noshow),.doshow {
	text-decoration:none;
	color:#303030;
	border-bottom:1px dotted #303030;
	cursor:pointer;
	transition:border-bottom;
	transition-duration:0.3s;
	}
a:hover:not(.noshow),.doshow:hover {
	color:black;
	border-bottom:1px solid #303030;
	}
a.noshow {
	color:#595959;
	color:#303030;
	text-decoration:none;
	}
input {
	background-color:white;
	padding:10px;
	border-radius:3px;
	border:1px solid #dadada;
	font-size:125%;
	transition:border,animation;
	transition-duration:0.3s;
	}
input:hover {
	border-color:#b0b0b0;
	}
input:focus {
	}
input.fwi {
	min-width:90%;
	}
input[type="submit"] {
	cursor:pointer;
	}
hr {
	width:75px;
	background-color:#c0c0c0;
	height:2px;
	margin:30px;
	margin-left:auto;
	margin-right:auto;
	border:none;
	}

.blockarea {
	background-color:#FAFAFA;
	background-color:#efefef;
	}
.block, .post {
	background-color:white;
	/*box-shadow: 0 2px 6px 2px rgba(0,0,0,.05);*/
	padding:15px;
	margin:15px;
	border-radius:3px;
	text-align:justify;
	overflow:hidden;
	}
.fullblock {
	background-color:white;
	box-shadow: 0 2px 6px 2px rgba(0,0,0,.05);
	padding:15px;
	}
.shadow {
	box-shadow: 0 2px 6px 2px rgba(0,0,0,.05);
	}

.hoverable {
	transition:box-shadow;
	transition-duration:0.3s;
	}
.hoverable:hover, input.hoverable:focus {
	/*box-shadow:0px 0px 13px -6px black;*/	
	/*box-shadow:0 1px 10px rgba(0, 0, 0, 0.2);*/
	box-shadow:0 1.5px 5px rgba(0, 0, 0, 0.29);
	}

.type-page {
	font-size:1.2em;
	text-align:justify;
	}
.type-page .blockarea {
	font-size:0.9em;
	padding:1px!important;
	margin-bottom:15px;
	text-align:center;
	}
.type-page.pad15 .blockarea {
	margin-left:-15px;
	margin-right:-15px;
	}
.type-page .blockarea .block {
	margin-left:5px;
	margin-right:5px;
	}

.p-single.post-header {
	background-color:#FEA74C;
	color:white;
	padding:15px;
	margin:-15px;
	margin-bottom:15px;
	}
.p-single.post {
	max-width:520px;
	margin-left:auto;
	margin-right:auto;
	}
img.size-full {
	max-width:90%;
	height:auto;
	}
img.aligncenter {
	margin-left:auto;
	margin-right:auto;
	display:block;
	}

.wp-caption {
	max-width:100%;
	text-align:center;
	height:auto;
	}
.wp-caption-text {
	display:block;
	max-width:90%;
	margin:10px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	color:#808080;
	text-align:center;
	}

.topimage {
	margin:-15px;
	margin-bottom:15px;
	background-size:cover;
	background-position:center center;
	min-height:200px;
	}

/*.tile {
	display:inline-block;
	width:100%;
	}*/
.tile {
	display:inline-block;
	vertical-align:top;
	}
.tile_half {
	display:inline-block;
	width:50%;
	}
.tile_third {
	display:inline-block;
	width:33.3333333333333%;
	}
.tile_fourth {
	display:inline-block;
	width:25%;
	}
@media (max-width:600px) { .tile_half { width:100%; } }
@media (max-width:900px) { .tile_third { width:100%; } }
@media (max-width:1200px) { .tile_fourth { width:50%; } }
@media (max-width:600px) { .tile_fourth { width:100%; } }

.tile .wp-post-image {
	width:100%;
	height:auto;
	}

.smalltile {
	width:300px;
	}
@media (max-width:610px) { .smalltile { width:100%; } }

.tile_c_full {
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
	}
.tile_c_half {
	max-width:300px;
	}
@media (max-width:520px) { .tile_c_half { max-width:100%; } }

.pad0 { padding:0px; }
.pad1 { padding:1px; }
.pad5 { padding:5px; }
.pad10 { padding:10px; }
.pad15 { padding:15px; }
.pad20 { padding:20px; }
.nmx { margin-left:0px; margin-right:0px; }
.mar0 { margin:0px; }
.mar5 { margin:5px; }
.mar10 { margin:10px; }
.mar15 { margin:15px; }
.mar20 { margin:20px; }

.bg-orange {
	color:white;
	background-color:#fea74c;
	}
.bg-green {
	color:white;
	background-color:#55BD7A;
	}
.bg-darkblue {
	color:white;
	background-color:#001454;
	}
.bg-darkgreen {
	color:white;
	background-color:#3F615F;
	}

.animlogo {
	background-image:url("img/logo.svg");
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	}

.tal,.alignleft { text-align:left; }
.tac,.aligncenter { text-align:center; }
.tar,.alignright { text-align:right; }
.taj { text-align:justify; }
.mw550 { max-width:550px;margin-left:auto;margin-right:auto; }

.countdowntimer {
	text-align:center;
	/*background-color:#f0f0f0;
	border:1px solid #eaeaea;*/
	border-radius:5px;
	padding:5px;
	color:#4B98D3;
	}
.countdowntimer>div {
	display:inline-block;
	font-size:200%;
	min-width:50px;
	text-align:center;
	padding:10px;
	margin:5px;
	}
.countdowntimer>div>.small {
	display:block;
	font-size:12px;
	text-align:center;
	color:#c0c0c0;
	}
.tl_d, .tl_h, .tl_m, .tl_s {
	transition:color;
	transition-duration:0.3s;
	}
.countdowntimer .tlanim {
	animation-name:animcolour;
	animation-iteration-count:infinite;
	animation-delay:1s;
	animation-duration:10s;
	}

.input_button {
	padding:10px;
	border-radius:3px;
	border:0px!important;
	background-color:#55BD7A;
	color:white!important;
	display:inline-block;
	border:0px;
	transition:background-color!important;
	transition-duration:0.3s!important;
	}
.input_button:hover {
	background-color:#fea74c;
	border:0px;
	color:white;
	}

.tab {
	width:40px;
	display:inline-block;
	}

.logo {
	width:50px;
	height:50px;
	display:inline-block;
	}

@keyframes fadeout {
	0% {
		opacity:1;
		transform:scale(1,1);
		}
	100% {
		opacity:0;
		transform:scale(0.8,0.8);
		}
	}
.fadeout {
	animation-name:fadeout;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
	}
@keyframes slidein {
	0% {
		opacity:0;
		transform:translate(0px,50px);
		}
	100% {
		opacity:1;
		transform:translate(0px,0px);
		}
	}
.slidein {
	animation-name:slidein;
	animation-duration:0.7s;
	animation-fill-mode:forwards;
	}

.step {
	transition:opacity,height,transform;
	transition-duration:1s;
	overflow:hidden;
	}
.step.open {
	height:auto;
	opacity:1;
	}
.step.closed {
	height:0px;
	opacity:0;
	}

#sidebar {
	float:right;
	height:100%;
	overflow-y:auto;
	width:250px;
	width:270px;
	margin:0px;
	border-radius:0px;
	position:fixed;
	top:0px;
	right:0px;
	z-index:100002!important;
	padding:0px;
	transition:right;
	transition-duration:0.5s;
	}
#sidebarbackground {
	background-color:black;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:100001;
	opacity:0;
	display:none;
	transition:opacity;
	transition-duration:0.5s;

	cursor:pointer;
	}
#sidebarbackground.visible {
	display:block;
	opacity:0.3;
	}
#sidebar {
	right:-280px;
	z-index:20;
	}
#sidebar.visible {
	right:0px;
	}

#searchform {
	background-color:#FEA74C;
	color:white;
	padding:10px;
	text-align:center;
	}
#searchform label { display:none; }
#searchform input {
	background-color:rgba(256,256,256,0);
	border:none;
	color:white;
	display:inline-block;
	transition:background-color;
	transition-duration:0.3s;
	}
#searchform input[type=submit] {
	margin-top:10px;
	background-color:rgba(0,0,0,0.1);
	}
#searchform input:hover, #searchform input:active, #searchform input:focus {
	background-color:rgba(256,256,256,0.2);
	}

.sidelink {
	display:block;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	text-decoration:none;
	border:none!important;
	font-size:120%;
	transition:background-color!important;
	transition-duration:0.3s!important;
	}
.sidelink:hover {
	background-color:rgba(0,0,0,0.1);
	}

.social_icon_link {
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:100%;
	margin:6px;
	padding:0px;
	background-color:none!important;
	border-bottom:0px!important;

	transition:padding,margin,background-color!important;
	transition-duration:0.3s!important;
	}
.social_icon_link:hover {
	margin:0px;
	padding:6px;
	}
.social_icon_link.social_facebook:hover { background-color:#4862A3; }
.social_icon_link.social_twitter:hover { background-color:#1DA1F2; }
.social_icon_link.social_youtube:hover { background-color:#E52117; }
.social_icon {
	width:40px;
	/*background-color:white;
	border-radius:100%;*/
	opacity:1;
	transition:opacity;
	transition-duration:0.3s;
	}
/*.social_icon_link:hover>.social_icon {
	opacity:0;
	}*/

.videothing {
	width:100%;
	height:320px;
	}
@media (min-height:620px) { .videothing { height:400px; } }
@media (min-height:720px) { .videothing { height:500px; } }
@media (min-height:820px) { .videothing { height:600px; } }

#header {
	/*padding:10px;*/
	margin-bottom:10px;
	/*background-color:white;*/
	position:fixed;
	width:100%;
	background-color:rgba(0,0,0,0.15);
	background-color:rgba(0,0,0,0.3);
	background-color:white;
	vertical-align:top;
	z-index:1000;
	transition:padding,box-shadow;
	transition-duration:0.3s;
	}
#header #header_margins {
	margin:10px;
	transition:margin;
	transition-duration:0.3s;
	}
#header .logo {
	width:50px;
	height:50px;
	transition:height,width,margin;
	transition-duration:0.3s;
	}
#header #userops {
	float:right;
	/*height:50px;
	line-height:50px;*/
	vertical-align:center;
	}
#header .userop {
	display:inline-block;
	line-height:normal;
	vertical-align:center;
	}
#header img.userop {
	width:30px;
	margin-top:15px;
	cursor:pointer;
	transition:margin-top;
	transition-duration:0.3s;
	}
#header .headlink {
	color:white;
	color:#303030;
	text-decoration:none;
	border:0px;
	display:inline-block;
	/*background-color:hotpink;*/
	margin:12px;
	margin-top:-10px;
	margin-bottom:-10px;
	height:73px;
	vertical-align:top;
	line-height:75px;
	font-size:20px;
	border-bottom:2px solid rgba(0,0,0,0);
	transition:border-bottom-color,margin,height,line-height,font-size;
	transition:0.3s;
	}
#header .headlink.sel {
	border-bottom-color:#FEA74C;
	}
#header .headlink:hover:not(.sel) {
	border-bottom-color:#55BD7A;
	}
#header_spacer {
	height:75px;
	}

#footline {
	height:4px;
	background-color:#808080;
	animation-name:animlogo;
	animation-duration:20s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	}

@keyframes formloadback {
	0% { opacity:0; }
	100% { opacity:1; }
	}
#formloadback {
	opacity:0;
	background-color:#fafafa;
	position:fixed;
	z-index:100000;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	animation-name:formloadback;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	}
@keyframes formloadback_loading {
	0% { opacity:0; }
	100% { opacity:1; }
	}
#formloadback .loading {
	opacity:0;
	color:#808080;
	font-weight:bold;
	position:fixed;
	bottom:20px;
	left:50%;
	transform:translate(-50%,0px);
	animation-name:formloadback_loading;
	animation-delay:0.5s;
	animation-duration:1.5s;
	animation-fill-mode:forwards;
	}

#pagecontent {
	min-height:100%;
	/*font-size:1.2em;*/
	}

#homeslideshow {
	background-image:url(img/homeslides/garden-sunflowers.png);
	background-size:cover;
	background-attachment:fixed;
	padding-top:1px;

	height:350px;
	}
#homeslideshow_content {
	background-color:rgba(0,0,0,0.1);
	padding:1px;
	height:350px;

	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	}
#homeslideshow_text {
	color:white;
	margin:20px;
	margin-left:30px;
	margin-top:175px;
	transform:translate(0,-50%);
	max-width:500px;
	
	}


.navigation>div {
	display:inline-block;
	min-width:90px;
	text-align:center;
	}

.cb { clear:both!important; }

@media (min-width:1150px) { .max1150 { display:none!important; } }
@media (min-width:950px) { .max950 { display:none!important; } }
@media (min-width:900px) { .max900 { display:none!important; } }
@media (min-width:700px) { .max700 { display:none!important; } }
@media (min-width:450px) { .max450 { display:none!important; } }

@media (max-width:1149px) { .min1150 { display:none!important; } }
@media (max-width:949px) { .min950 { display:none!important; } }
@media (max-width:899px) { .min900 { display:none!important; } }
@media (max-width:699px) { .min700 { display:none!important; } }
@media (max-width:449px) { .min450 { display:none!important; } }


/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
